*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  }

/* макет */

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  padding: 133px 30px;
  flex-grow: 1;
}

.result {
  align-self: flex-end;
  padding-top: 70px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* поиск */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px; 
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list .search-form__label:hover.search-form__label-text {
  text-decoration: underline;
}

/* лист */

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: relative;
  height: 298px;
  overflow-y: auto;
  padding-right: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

/* карточки */

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 100%;
  min-width: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 4px;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* текст */

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* ссылки */

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__card-link_current {
  background-color: rgb(255 255 255 / 0.1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgb(255 255 255 / 0.2);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* кнопки */

.button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 193px;
  height: 34px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.9;
  height: 34px;
  padding: 0 20px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgb(255 255 255 / 0.2);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* утилиты */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button,
.search-form__label,
.content__card-link {
  cursor: pointer;
}


.error{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}